!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Boocher
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  %header.header
    .header__bar.row
      %h3.grid-6
        %a{:href => "/"} Boocher
        %p.boocher__title Boocher
      - if user_signed_in?
        .user_nav.grid-6
          %ul.user__info
            %li
              %a{:href => "/users/#{current_user.id}"} マイページ
              = link_to "ログアウト", destroy_user_session_path, method: :delete
          %a.post{:href => "/books/new"} 投稿する
          %a.post{:href => "/books/search"}検索する
      - else
        .content-grid-6
          = link_to "ログイン", new_user_session_path, :class => 'post'
          = link_to "新規登録", new_user_registration_path, :class => 'post'
  = yield
  %footer
  %p unitopi. All rights reserved.

